meta(charset="utf-8")
block title
	title #{globalSiteName}

meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(name="viewport" content="width=device-width")
meta(name="format-detection" content="telephone=no")
block meta
meta(name="keywords" content=metaKeyword)
meta(name="description" content=metaDescription)
meta(http-equiv="X-UA-Compatible" content="IE=Edge")