//- サイト名
- globalSiteName = "Alpha"

//- キーワード、ディスクリプション初期値
- metaKeyword = "HTML5,CSS3,jQuery,レスポンシブ,Javascript,MarkUpengineer,マークアップエンジニア,htmlコーダー"
- metaDescription = "HTML5,CSS3,jQueryが三度の飯より大好物！！レスポンシブサイトが大得意！！"