@charset "UTF-8";
/** * Reset CSS * **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html { overflow-y: scroll; font-size: 62.5%; }

body { font-size: 1rem; line-height: 1.5; -webkit-text-size-adjust: none !important; color: #333; font-family: "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,verdana,sans-serif; }

html, body { position: relative; height: 100%; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

input, textarea, button { margin: 0; padding: 0; font-size: 62.5%; }

table { border-collapse: collapse; border-spacing: 0; }

a:focus { outline: none; }

a:link, a:visited, a:hover { color: #333; text-decoration: none; }

a:hover { opacity: 0.6; }

input, button { margin: 0; padding: 0; outline: none; border: 0; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

header { display: table; width: 100%; height: 40px; padding: 15px; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 99999; font-size: 30px; }

header .block-inner { display: table-cell; text-align: center; vertical-align: middle; border-bottom: 1px solid #eee; }

header h1 { color: #000; }

#form-block { width: 335px; margin: 10px auto 20px; }

#form-block::after { content: ""; display: block; clear: both; }

#form-block input[type="text"], #form-block button { float: left; }

#form-block input[type="text"] { border: 1px solid #ccc; padding: 3px 5px; margin-right: 5px; border-radius: 5px; width: 250px; height: 35px; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 13px; font-size: 1.3rem; }

#form-block input[type="text"]:placeholder { color: #ccc; }

#form-block input[type="text"]:foucus:placeholder { color: transparent; }

#form-block input[type="text"]::-webkit-input-placeholder { color: #ccc; }

#form-block input[type="text"]:focus::-webkit-input-placeholder { color: transparent; }

#form-block input[type="text"]:-moz-placeholder { color: #ccc; opacity: 1; }

#form-block input[type="text"]:foucus:-moz-placeholder { color: transparent; }

#form-block input[type="text"]:-ms-input-placeholder { color: #ccc; }

#form-block input[type="text"]:focus::-ms-placeholder { color: transparent; }

#form-block button { width: 80px; height: 35px; border: 1px solid #ccc; border-radius: 5px; background-color: #eee; color: #666; font-size: 13px; font-size: 1.3rem; }

.main-block_listBox { width: 400px; margin: 0 auto; }

.main-block_listBoxList { border-bottom: dashed 1px #ccc; padding: 0 5px 3px; margin-bottom: 10px; }

.main-block_listBoxList::after { content: ""; display: block; clear: both; }

.main-block_listBoxListTxt, .main-block_listBoxListBtn, .main-block_listBoxList input[type="checkbox"] { display: block; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; float: left; }

.main-block_listBoxListTxt, .main-block_listBoxList input[type="checkbox"] { float: left; }

.main-block_listBoxListTxt, .main-block_listBoxListBtn { padding: 5px 0; font-size: 13px; font-size: 1.3rem; }

.main-block_listBoxListTxt { width: calc(81% - 40px); position: relative; }

.main-block_listBoxListTxt::before { position: absolute; content: ""; display: block; top: calc(50% - 13px); left: -25px; width: 7px; height: 15px; border-right: 3px solid #333; border-bottom: 3px solid #333; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); display: none; }

.main-block_listBoxListBtn { float: right; width: 19%; text-align: center; background-color: #808080; color: #fff; border-radius: 5px; cursor: pointer; }

.main-block_listBoxListBtn:hover { background-color: #e1a2ba; }

.main-block_listBoxList input[type="checkbox"] { border: 1px solid #ccc; width: 30px; height: 30px; margin-right: 5px; }

.main-block_listBoxList input[type="checkbox"]:checked + .main-block_listBoxListTxt::before { display: block; }

.main-block_listBoxList.complete input[type="checkbox"] { border: 1px solid #ccc; background-color: #eee; }

.complete .main-block_listBoxListTxt { color: #999; text-decoration: line-through; }

.complete .main-block_listBoxListTxt::before { border-right: 3px solid #ccc; border-bottom: 3px solid #ccc; }

.box-removeMess { display: block; width: 400px; margin: 25px auto; display: none; text-align: center; font-size: 14px; font-size: 1.4rem; }

.box-removeMessTxt { color: #000; }

.box-removeMessBtn { display: inline-block; background-color: #808080; color: #fff; width: 100px; padding: 5px; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 10px; border-radius: 5px; cursor: pointer; }

.box-removeMessBtn:hover { background-color: #376fb8; }

.box-removeMessVisible { display: block; }
