@charset "UTF-8";
/** * Reset CSS * **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html { overflow-y: scroll; font-size: 62.5%; }

body { font-size: 1rem; line-height: 1.5; -webkit-text-size-adjust: none !important; color: #333; font-family: "ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,verdana,sans-serif; }

html, body { position: relative; height: 100%; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

input, textarea, button { margin: 0; padding: 0; font-size: 62.5%; }

table { border-collapse: collapse; border-spacing: 0; }

a:focus { outline: none; }

a:link, a:visited, a:hover { color: #333; text-decoration: none; }

a:hover { opacity: 0.6; }

input, button { margin: 0; padding: 0; outline: none; border: 0; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

header { display: table; width: 100%; height: 40px; padding: 15px; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 99999; font-size: 30px; }

header .block-inner { display: table-cell; text-align: center; vertical-align: middle; border-bottom: 1px solid #eee; }

header h1 { color: #000; }

#main-block { width: 400px; margin: 10px auto; }

#main-block::after { content: ""; display: block; clear: both; }

#main-block .main-block_listBoxList { border-bottom: dashed 1px #ccc; padding-bottom: 3px; margin-bottom: 10px; }

#main-block .main-block_listBoxListTxt, #main-block .main-block_listBoxListBtn, #main-block .main-block_listBoxList input[type="checkbox"] { display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; }

#main-block .main-block_listBoxListTxt { width: calc(70% - 15px); margin-right: 3px; }

#main-block .main-block_listBoxListBtn { width: 29%; }

#main-block input[type="text"], #main-block button { float: left; }

#main-block input[type="text"] { border: 1px solid #ccc; padding: 3px 5px; margin-left: 65px; margin-right: 5px; border-radius: 5px; width: 250px; height: 35px; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 13px; font-size: 1.3rem; }

#main-block input[type="text"]:placeholder { color: #ccc; }

#main-block input[type="text"]:foucus:placeholder { color: transparent; }

#main-block input[type="text"]::-webkit-input-placeholder { color: #ccc; }

#main-block input[type="text"]:focus::-webkit-input-placeholder { color: transparent; }

#main-block input[type="text"]:-moz-placeholder { color: #ccc; opacity: 1; }

#main-block input[type="text"]:foucus:-moz-placeholder { color: transparent; }

#main-block input[type="text"]:-ms-input-placeholder { color: #ccc; }

#main-block input[type="text"]:focus::-ms-placeholder { color: transparent; }

#main-block button { width: 80px; height: 35px; border: 1px solid #ccc; border-radius: 5px; background-color: #eee; color: #666; font-size: 13px; font-size: 1.3rem; }
